<html>
<head>
	<title>Add Product </title>
</head>
<body>
	<h2>Registration Page</h2>


	<form method="post">
		<table>
			<tr>
				<td>Product Name : </td><td><input type='text' name='productname'></td>
			</tr>
			<tr>
				<td>Catagory : </td>
				<td>
					<select id="" name="catagory">
					  <option value="accesories">Accesories</option>
					  <option value="storage">Storage</option>
					  <option value="component">Component</option>
					  <option value="other">Other</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Sub-Catagory : </td><td><input type='text' name='subCatagory'></td>
			</tr>
			<tr>
				<td>Brand : </td><td><input type='text' name='brand'></td>
			</tr>
			<tr>
				<td>Quantity : </td><td><input type='number' name='quantity'></td>
			</tr>
			
			
		</table>	
		<input type='submit' name='' value='Save'>	
		
	</form>
	<a href="/adminHome"> back</a> 
</body>
</form>